.navbar-ios{
    background: #fff !important;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.bold{
    
}

.fixed-bottom{
    height: 48px !important;
}

.menu {
    color : #007bff;
    font-size: 14px;
}


.thisfont{
    font-size: 14px;
    color: #007bff;
}

.thisfontblack{
    font-size: 14px !important;
}

.list-group{
    width: 100%;
}
